<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="top-nav" th:fragment="topnav">
    <a th:href="@{/clients}">Clients</a>
    <a th:href="@{/advisors}">Advisors</a>
    <a th:href="@{/accounts}">Accounts</a>
    <a th:href="@{/transactions}">Transactions</a>
    <a th:href="@{/assets}">Assets</a>
    <a th:href="@{/client-risk}">Client Risk</a>
    <a th:href="@{/financial-goals}">Financial Goals</a>
    <a th:href="@{/examples}">SQL Runner</a>
</nav>
</body>
</html>
